body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    min-height: 60px;
    background-color: #3f3567;
    border: 0;
}


.container {
    margin: 0 auto;
    max-width: 80%;
}

.logo {
    height: 45px;
    /*margin-top: 15px;*/

}

.search {
    display: inline-block;
    padding: 0;
    margin-left: 300px;
    position: absolute;
    margin-top: 10px;
}

.search input {

    height: 38px;
    width: 375px;
    padding: 0;
    border: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    background: #ffffff;
}

.search-box:focus {
    height: 38px;
    width: 375px;
    padding: 0;
    border: 0px;
    border-radius: 5px;
    box-sizing: border-box;
    border: red;
    /*background-color: #3f3567;*/
    margin: 0;
    /*border-image-width: 0px;*/
}

/*.search-box {*/
/*    */
/*}*/
.search-icon {
    position: absolute;
    height: 31px;
    margin-left: -35px;
    border-radius: 5px;
}

.btn-contact {
    margin-top: 10px;
    float: right;
    height: 36px;
    line-height: 36px;
    width: 90px;
    text-decoration: none;
    color: white;


    background-color: #5cb85c;
    border-radius: 5px;

}

.btn-contact img {
    margin-left: 12px;
}

.nav {
    background-color: #0c2738;
    /*position: sticky;*/
    min-height: 45px;
    padding: 0;
    margin: 0;

}

.menu-list {
    margin: 0 auto;
    max-width: 80%;
    padding: 0;

}

.menu-list > li {
    list-style-type: none;
    display: inline;
    line-height: 45px;
    font-size: 20px;
    position: relative;
    /*font-weight: 600;*/
    text-transform: uppercase;
    padding: 11px 15px 11px 5px;
    color: white;

}

.menu-list > li > a {
    text-decoration: none;
    color: white;
    line-height: 45px;
    font-size: 20px;
}


.child-menu {
    z-index: 99;
    left: 0;
    position: absolute;
    display: block;
    background-color: #404040;
    width: 150px;
    /*margin-left: 100px;*/

}

.child-menu > li {
    color: #ffffff;
    list-style-type: none;
    display: none;
    margin-left: -20px;
}

.menu-list > li:hover .child-menu > li {

    background-color: #404040;
    display: block;

}

.menu-list > li:hover {

    background-color: #404040;


}

.child-menu a {
    text-decoration: none;
    color: white;
}

.child-menu > li:hover a {
    color: #CE00C3;

}

/*.menu-list > li:hover .child-menu > li   {*/

/*    background-color: #404040;*/
/*    display:block;*/

/*}*/


/*.menu-list > li >a:hover    {*/
/*    background-color: #404040;*/
/*    padding: 11px 0px 12px 0px;*/
/*    !*display:block;*!*/
/*    !*padding: 100%;*!*/
/*}*/

.main-content {
    background-color: #081b27;
    height: 1000px;
}

.left-content {
    width: 70%;
    float: left;
    margin: 0;
    padding: 0;
}

.right-content {
    width: 30%;
}

.caption-container {
    width: 100%;
    min-height: 50px;
    padding-top: 10px;
}

h2 {
    margin: 0;
    /*padding: 30px 0 0 0;*/
    display: inline;


}

h2 a {
    font-family: sans-serif;
    color: #fff601;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;

}

.tab-film {
    float: right;
    padding: 0;
    margin: 0;
    display: inline-block;

}

.tab-film > li {
    /*padding: 5px;*/
    list-style-type: none;
    display: inline-block;
    color: white;
    cursor: pointer;
    font-size: 17px;
    line-height: 50px;
    /*margin-left:5px ;*/
    margin: 0 5px 0 0;

}

.list-film {
    width: 100%;
    margin: 10px 0 0 0;
}

.film-item {
    display: block;
    float: left;
    width: 20%;
    margin: 0;
    text-decoration: none;
    /*padding: -5px;*/

}

.ribbon {
    position: absolute;
    background-color: #a21d0a;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin: 3px 0 0 3px;
    /*margin-top: 10px;*/
    /*top:5px;*/

}

.film-img {
    width: 90%;
}

.film-name {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.film-name:visited {
    text-decoration: none;
    color: white;
    border: none;
}

.real-name {
    color: #88887b;
}

.right-content {
    margin: 0;
    padding: 0;
    float: left;
    display: block;
}

.right-caption {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color:#6653a1 ;
    font-size: 25px;
    margin: 25px;
    display: block;

}
.right-tab {
    margin: 0 0 0 15px;
    padding: 0;
    display: block;
    width: 100%;
    min-height: 37px;
    /*margin-bottom: 10px;*/
}
.right-tab li {
    list-style-type: none;
    display: block;
    float: left;
    width: 27%;

    margin-right: 2%;
    font-size: 20px;
    line-height: 37px;
    min-height: 37px;
    color: white;
    /*text-transform: uppercase;*/
    text-align: center;
    background-color: #6653a1;
    border-radius: 20px 0 20px 0 ;

}

.list-rating {
    display: block;
    clear: both;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 10px;
    margin-right: 15px;
    padding-left: 15px;

}
.list-rating>li:only-child {


}

.list-rating-item {
    list-style-type: none;
    width: 100%;
    /*background-color: #152e3e;*/
    display: block;
    height: 98px;
    margin-bottom: 10px;

}
.list-rating-item:hover {

    background-color: #152e3e;


}
.list-rating-item a {
    clear: both;
   width: 100%;
    display: block;
    color: white;
    /*background-color: red;*/
}
.img-rating {
    height: 80px;
    width: 15%;
    object-fit: contain;
    float: left;
    overflow: hidden;

    margin: 5px 5% 0 5%;
    /*margin: 5px;*/



}
.right-container {
    float: left;
    width: 75%;
    line-height: 30px;
}
.small-name {
    color: #c29e6c;
    text-transform: capitalize;
    margin: 5px 0 0 0;
}
.small-real-name {
    color: #999999;
    margin: 0 ;
}
.view-count {
    margin: 0;
    font-style: italic;
    color: #999999;
    /*background-image: url("images/eye.png");*/
}
hr {
    color:#162e42 ;
}
.eye-icon {
    width: 20px;
}

